.usersContainer {
    display: block;
    padding: 0 10px;
    max-width: 940px;
    margin: 0 auto;
}

.usersTitle {
    color: coral;
    text-align: center;
    margin-bottom: 40px;
}

.usersList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px 0;
}

.userItem {
    flex: 1 1 calc(100% / 3 - 20px);
    margin: 0 10px 20px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: 300px;
        &.userPhoto {
            object-fit: cover;
        }
        &.userEmpty {
            object-fit: contain;
            padding: 10px 15px;
        }
    }
}

.numberOfUser {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 70px;
    color: #fff;
    background-color: coral;
    width: 70px;
    height: 70px;
    text-align: center;
}

.userDesc {
    padding: 20px;
    h1 {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.subStatus {
    display: block;
    font-weight: 700;
    span {
        color: #c70039;
        &.followed {
            color: #27ae60;
        }
    }
}

.statusMessage {
    font-size: 20px;
    font-weight: 700;
}

.paginationContainer {
    display: flex;
    align-items: center;
    margin: 15px 0;
    button {
        cursor: pointer;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
            cursor: pointer;
            width: 36px;
            line-height: 36px;
            text-align: center;
            background-color: #fff;
            margin: 0 5px 5px;
            font-weight: 700;
            border-radius: 4px;
            transition: background-color .3s, color .3s;
            &:hover {
                background-color: coral;
                color: #fff;
            }
            &.selected {
                background-color: coral;
                color: #fff;
            }
        }
    }
}