.createPost {
  display: flex;
  align-items: center;
  margin-top: 30px;
  max-width: 700px;
}

.postTextarea {
  flex: 1;
  margin-right: 25px;
  resize: none;
  border-radius: 4px;
}

.postsContainer {
  background-color: #fff;
  margin-top: 20px;
}