.asideContainer {
  flex: 0 1 300px;
  padding: 50px 0;
  background-color: #fff;
}

.asideList {
  margin: 0;
  a {
    display: block;
    padding: 14px 20px;
    &.active {
      text-decoration: underline;
      background-color: coral;
      color: #fff;
    }
  }
}


.friendsList {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-align: center;
  img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 4px;
  }
  li {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}