.headerContainer {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 15px -10px grey;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    display: block;
    width: 35px;
    height: 35px;
  }
}
